<% include ../partials/header-start %>
<link rel="stylesheet" href="/stylesheets/admin/data-uploads.css">
<script src="/scripts/lib/utils.js"></script>
<% include ../partials/header-end %>

<% if (error) { %>
    <h3>There was an error finding the user accounts.</h3>
    <p>Please contact a network administrator and quote the following message:</p>
    <h5><%= error %></h5>
<% } else { %>
    <h1>Data Uploads Management Page</h1>
    <script>
        let strUpload, upload, table;
        let count = 0;
    </script>
    
    <p id="error-message" style="display: none"></p>
    
    <div id="uploads-container">
        <% if (uploads.length === 0) { %>
            <h3>There are no data uploads to display.</h3>
        <% } else { %>
            <% uploads.forEach(upload => { %>
                <div class="upload-container">
                    <div class="upload-info-container">
                        <p class="upload-id" style="display: none"><%= upload.id %></p>
                        <p><b>Uploaded From:</b> <%= upload.location %></p>
                        <p><b>Uploaded By:</b> <%= upload.owner ? upload.owner.username : "A Deleted User" %></p>
                        <p><b>Uploaded On:</b> <%= upload.date.toDateString() %></p>
                        <p><b>Taxonomic Group:</b> <%= upload.taxonomicGroup.name %></p>
                        
                        <button class="upload-show-button">Show Data</button>
                    </div>
                    
                    <div class="upload-controls-container">
                        <button class="edit-upload-button">Edit</button>
                        <button class="delete-upload-button">Delete</button>
                    </div>
                    
                    <div class="upload-data-container" style="display: none">
                        <script>
                            <% let stringUpload = JSON.stringify(upload); %>
                            strUpload = '<%- stringUpload %>';
                            upload = JSON.parse(strUpload);
                            table = loadUploadTable(upload);
                            document.getElementsByClassName("upload-data-container")[count].appendChild(table);
                            count++;
                        </script>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>
    
    <!-- Scripts -->
    <script src="/scripts/admin/data-uploads.js"></script>
<% } %>