<% include ../partials/header-start %>
<link rel="stylesheet" href="/stylesheets/admin/taxonomic-groups.css">
<% include ../partials/header-end %>

<h1>Taxonomic Group Management</h1>
<p>On this page, you can manage the taxonomic groups stored on the server.</p>
<p>You can add new ones, or delete old ones.</p>

<% if (error) { %>
    <h3>There was an error loading the groups.</h3>
    <p>Please contact a system administrator and quote the following message:</p>
    <h5><%= error %></h5>
<% } else { %>
    <h3>Current Taxonomic Groups</h3>
    <table id="taxonomic-groups-table">
        <thead>
            <th>Group</th>
            <th>Optional Fields</th>
            <th>Invalid Fields</th>
            <th>Possible Statuses</th>
            <th>Actions</th>
        </thead>
        
        <tbody>
            <% if (groups) { %>
                <% groups.forEach(group => { %>
                    <% let optionalString = group.optionalFields.join(", "); %>
                    <% let invalidString = group.invalidFields.join(", "); %>
                    <% let statusString = group.statuses.join(", "); %>
                
                    <tr>
                        <td class="table-group-name"><%= group.name %></td>
                        <td class="table-optional-fields"><%= optionalString %></td>
                        <td class="table-invalid-fields"><%= invalidString %></td>
                        <td class="table-statuses"><%= statusString %></td>
                        <td>
                            <button class="group-edit-button">Edit</button>
                            <button class="group-delete-button">Delete</button>
                        </td>
                    </tr>
                <% }); %>
            <% } %>
        </tbody>
    </table>
    
    <form id="new-group-form" style="display: none;">
        <div class="form-group">
            <label>Group Name:</label>
            <input id="group-name" type="text" placeholder="Group Name" minlength="3" maxlength="30">
        </div>
        
        <div id="optional-fields" class="form-group">
            <label>Optional Fields:</label>
            <a id="new-optional-field-button" href="#">Add a new optional field</a>
        </div>
        
        <div id="invalid-fields" class="form-group">
            <label>Invalid Fields:</label>
            <a id="new-invalid-field-button" href="#">Add a new invalid field</a>
        </div>
        
        <div id="statuses" class="form-group">
            <label>Statuses:</label>
            <a href="#" id="new-status-button">Add a new status</a>
        </div>
        
        <a id="form-clear-button" href="#">Clear the form</a>
        <button>Create Group</button>
    </form>
    
    <a id="form-toggle-button" href="#">Add a new taxonomic group</a>
    
    <h4 id="error-message" style="display: none;"></h4>
    
    <!-- Scripts -->
    <script src="/scripts/lib/utils.js"></script>
    <script src="/scripts/lib/validator.js"></script>
    <script src="/scripts/admin/taxonomic-groups.js"></script>
<% } %>

<% include ../partials/footer %>