<% include ../partials/header-start %>
<link rel="stylesheet" href="/stylesheets/data-upload/new.css">
<% include ../partials/header-end %>

<h1 class="header">Upload Page</h1>

<% if (error) { %>

    <h2>There was an error loading this page.</h2>
    <h4>Please contact a system administrator and quote this message:</h4>
    <p><%= error %></p>

<% } else { %>

    <div id="new-location-modal" class="modal">
        <div class="modal-container">
            <span class="close">&times;</span>

            <h2 class="modal-header">Submit a New Location</h2>
            <div class="modal-content">
                <p>If you could not see the location on the list, please fill out this form to submit a new location:</p>
                
                <div id="location-form" class="form">
                    <div class="form-group">
                        <div class="form-group-input">
                            <span class="field">Location Name</span>
                            <input id="new-location-field" type="text">
                        </div>
                        
                        <span class="form-hint">This field is case-sensitive.</span>
                    </div>
                    
                    <a class="button" id="location-submit-button" href="#">Submit Location</a>
                    
                    <p class="form-error"></p>
                    <p class="form-success"></p>
                </div>
            </div>
        </div>
    </div>

    <div id="new-taxonomic-group-modal" class="modal">
        <div class="modal-container">
            <span class="close">&times;</span>

            <h2 class="modal-header">Submit a New Taxonomic Group</h2>
            <div class="modal-content">
                <p>If you could not see the taxonomic group on the list, please fill out the following form:</p>

                <div id="taxonomic-group-form" class="form">
                    <div class="form-group">
                        <div class="form-group-input">
                            <span class="field">Group Name</span>
                            <input id="new-taxonomic-group-field" type="text" placeholder="Type here..">
                        </div>

                        <span class="form-hint">This field is case-sensitive.</span>
                    </div>

                    <a class="button" id="taxonomic-group-submit-button" href="#">Submit Group</a>
                    
                    <p class="form-error"></p>
                    <p class="form-success"></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-container">
        <div id="load-form" class="form">
            <p class="form-header">Please fill out this form:</p>
            
            <div class="form-group">
                <div class="form-group-input">
                    <span class="field">Taxonomic Group</span>
                    <select id="taxonomic-group-select">
                        <% groups.forEach(group => { %>
                            <option value=""></option>
                            <option value="<%= group %>"><%= group %></option>
                        <% }); %>
                    </select>
                </div>

                <span class="form-hint">Can't see the group? Click <a id="taxonomic-group-popup-link" href="#">here</a>!</span>
            </div>

            <div class="form-group">
                <div class="form-group-input">
                    <span class="field">Where was this recorded?</span>
                    <select id="location-select">
                        <% locations.forEach(location => { %>
                            <option value=""></option>
                            <option value="<%= location %>"><%= location %></option>
                        <% }); %>
                    </select>
                </div>
                
                <span class="form-hint">Can't see your location? Click <a id="location-popup-link" href="#">here</a>!</span>
            </div>

            <div class="form-group">
                <div class="form-group-input">
                    <span class="field">Who saw/recorded this data?</span>
                    <input id="observers-input" type="text">
                </div>
            </div>
        </div>
        
    </div>
    
    <div id="upload-container">
        <div class="form" id="species-form">
            <p class="form-header">Species Form</p>

            <div class="form-group">
                <div class="form-group-input">
                    <span class="field">Latin Name <span class="required">*</span></span>
                    <input id="latin-name-input" type="text" placeholder="Type here..">
                </div>
            </div>

            <div class="form-group">
                <div class="form-group-input">
                    <span class="field">Common Name</span>
                    <input id="common-name-input" type="text" placeholder="Type here..">
                </div>
            </div>

            <div class="form-group">
                <div class="form-group-input">
                    <span class="field">Count <span class="required">*</span></span>
                    <input id="count-input" type="number">
                </div>

                <p class="form-hint">For plants, please give an approximate value.</p>
            </div>

            <div class="form-group">
                <div class="form-group-input">
                    <span class="field">Date <span class="required">*</span></span>
                    <input id="date-input" type="date">
                </div>
            </div>

            <div class="form-group">
                <div class="form-group-input">
                    <span class="field">Grid Reference</span>
                    <input id="grid-reference-input" type="text" placeholder="Type here..">
                </div>
            </div>

            <div class="form-group">
                <div class="form-group-input">
                    <span class="field">Comments</span>
                    <input id="comments-input" type="text" placeholder="Type here..">
                </div>
            </div>

            <a id="add-species-button" class="button">Add Species</a>

            <p class="form-footer">Fields marked with <span class="required">*</span> are required.</p>

            <p class="form-error"></p>
            <p class="form-success"></p>
        </div>

        <div id="upload-status-container" class="form">
            <p class="form-header">Current Species in Upload</p>
            
            <div id="status-controls-container">
                <p>No species currently in the upload.</p>
            </div>

            <a id="submit-upload-button" class="button">Submit Upload</a>

            <p class="form-error"></p>
            <p class="form-success"></p>
        </div>
    </div>
    
    <!-- Scripts -->
    <script src="/scripts/lib/utils.js"></script>
    <script src="/scripts/lib/validator.js"></script>
    <script src="/scripts/data-upload/new.js"></script>
    
<% } %>

<% include ../partials/footer %>